name: Student Registry App

on:
  push:
    branches: [ "github-actions-students-registry-app" ]
  pull_request:
    branches: [ "github-actions-students-registry-app" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]
    
    defaults:
      run:
        working-directory: GitHub-Actions-Student-Registry-App

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: npm ci

    - name: Run tests
      run: npm test

  deploy:
    needs: build
    runs-on: ubuntu-latest

    if: github.ref == 'refs/heads/github-actions-students-registry-app' && github.event_name == 'push'

    steps:
    - name: Deploy to Render.com
      uses: JorgeLNJunior/render-deploy@v1.4.7
      with:
        service_id: ${{ secrets.STUDENT_REGISTRY_APP_RENDER_SERVICE_ID }}
        api_key: ${{ secrets.STUDENT_REGISTRY_APP_RENDER_API_KEY }}
        github_token: ${{ github.token }}
        wait_deploy: true
