name: Student Registry App

on:
  push:
    branches: [ "github-actions-students-registry-app" ]
  pull_request:
    branches: [ "github-actions-students-registry-app" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]
    
    defaults:
      run:
        working-directory: GitHub-Actions-Student-Registry-App

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: GitHub-Actions-Student-Registry-App/package-lock.json

    - name: Install dependencies
      run: npm ci
    
    - name: Start app 
      run: npm start

    - name: Run tests
      run: npm test
